<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
  <link rel="import" href="/src/gestor-clientes/gestor-clientes.html">


<dom-module id="gestor-usuarios">
 <template>
   <style>
     :host {
       display: inline-block;
       padding: 10px;
     }
  .login-button{
	color:white;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align:center;
	border:1px solid #2c7cac;
  background-color: #336699;
  border-radius: 6px;
    }
   </style>
   <div class="container">
     <div class="row">
       <h1 class="col-lg-12">L O G I N</h1>

        <input type="text" class="form-control" placeholder="Cuenta" name="" value="{{pcuenta::input}}" required>  <br> <br>
       <input type="text" placeholder="Login" name="login" value="{{plogin::input}}" required>   <br> <br>
        <input type="text" placeholder="Nombre" name="nombre" value="{{pnombre::input}}" required>   <br> <br>
        <input type="text" placeholder="Segundo Nombre" name="snombre" value="{{psnombre::input}}" required>   <br> <br>
        <input type="text" placeholder="Primer apellido" name="apellido" value="{{papellido:input}}" required>   <br> <br>
        <input type="text" placeholder="Segundo apellido" name="sapellido" value="{{psapellido::input}}" required>   <br> <br>
        <input type="text" placeholder="Activo" name="estatus" value="{{pactivo::input}}">   <br> <br>

        <button on-click="obtenerUsuarios" class="login-button">Obtener Usuarios </button>  <br> <br>
        <button on-click="consultaUsuario" class="login-button">Entrar de a uno</button> <br> <br>
        <button on-click="altaUsuarios" class="login-button">Alta</button> <br> <br><br>

          <button on-click="consultaMovimiento">movimientos</button> <br> <br>
       <table>
         <tbody>
          <template is="dom-repeat" items="{{usuarios}}">
             <tr>
               <td>
                 [[item.cdusuario]]
               </td>
               <td>
                 [[item.cdcuenta]]
               </td>
               <td>
                 [[item.nbpassword]]
               </td>
               <td>
                 [[item.nbprimer_nombre]]
               </td>
               <td>
                 [[item.nbsegundo_nombre]]
               </td>
               <td>
                 [[item.nbap_paterno]]
               </td>
               <td>
                 [[item.nbap_materno]]
               </td>
               <td>
                 [[item.st]]
               </td>
             </tr>
           </template>
           <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>
                  [[item.cdcuenta]]
                </td>
              </tr>
            </template>
         </tbody>
       </table>
     </div>
   </div>
   <body>
     <h1>Aquì el elemento clientes</h1>
     <gestor-clientes></gestor-clientes>
   </body>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorUsuarios extends Polymer.Element {
      static get is() {return 'gestor-usuarios';}
      static get properties() {
        return {
          usuarios: {
            type: Array,
            notify: true   /** manejador de eventos  */
            },
          movimientos: {
              type: Array,
              notify: true   /** manejador de eventos  */
            },
          pcuenta: {
            type: Number,
            value:''
          },
          plogin: {
            type: String,
            value: ''
          },
          pnombre:{
            type: String,
            value: ''
          },
          psnombre:{
            type: String,
            value: ''
          },
          papellido:{
            type: String,
            value: ''
          },
          psapellido:{
            type: String,
            value: ''
          },
          pactivo:{
            type: String,
            value: "activo"
          }
        };
      }

      obtenerUsuarios (){
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET","http://localhost:3002/usuarios", false);
        //request.setRequestHeader("Accept", "application/json");
        request.send();
        this.usuarios=JSON.parse(request.responseText);
        console.log (this.usuarios);
      }

      consultaUsuario (){
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET","http://localhost:3002/usuarios/"+this.pcuenta, false);
        //request.setRequestHeader("Accept", "application/json");
        var x = this.pcuenta;
        var mov = this.usuarios;
        request.send();
        this.usuarios=JSON.parse(request.responseText);
        console.log ('llamando a usuarios ',this.usuarios);
        this.usuarios.forEach(function(elemento) {
        var cuentaFind =  elemento.cdcuenta;
        alert ("Bienvenido"+cuentaFind);
        alert ("Bienvenidooooo"+x);
        if (parseInt (cuentaFind)== x) {
          alert ("Bienvenido");
          /*var request2 = new XMLHttpRequest();
            alert ("2");
          request2.open("GET","http://localhost:3002/movimientos/"+x, false);
            alert ("3"+mov);
          //request.setRequestHeader("Accept", "application/json");
          request2.send();
          this.movimientos=JSON.parse(request2.responseText);
          alert ("4"+this.movimientos);
          //console.log ('llamando a movimiento ',this.movimientos);*/
        }
        else{
            alert ("Usuario Invalido");
        }
        console.log('usuarios por cuentasdfghjkl', elemento.cdcuenta, +cuentaFind);
        });
        console.log ('resutado',this.usuarios);
        }

      altaUsuarios (){
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("POST","http://localhost:3002/usuarios", false);
        //request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        //this.usuarios=JSON.parse(request.responseText);
        var nuevoCliente = {"cdcuenta":+this.pcuenta,
                            "nbpassword":this.plogin,
                            "nbprimer_nombre":this.pnombre,
                            "nbsegundo_nombre":this.psnombre,
                            "nbap_primero":this.papellido,
                            "nbap_segundo":this.psapellido,
                            "st_usuario":this.pactivo};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        alert ("Alta exitosa",nuevoCliente);

        console.log ('Alta de usuarios', nuevoCliente);
      }

      consultaMovimiento (){
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET","http://localhost:3002/movimientos/"+this.pcuenta, false);
        //request.setRequestHeader("Accept", "application/json");
        request.send();
        this.usuarios=JSON.parse(request.responseText);
        this.usuarios.forEach(function(elemento) {
        var movimientoFind =  elemento.cdcuenta
        console.log('cuenta de movimientos', elemento.cdcuenta, +movimientoFind);
        });
        console.log ('resutado',this.usuarios);
        }
    }
    window.customElements.define(GestorUsuarios.is, GestorUsuarios);
  </script>
</dom-module>
