<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
 <template>
   <style>
     :host {
       /*display: inline-block;*/
       padding: 10px;
       background-color: #5F9EA0;
              color: aliceblue;
              font-family: sans-serif;
              display: block;
              border-radius: 6px;
              height: "400px";
              width: "200%";


     }
   </style>
   <div class="container">
     <div class="row">
       <h1 class="col-lg-12">Gestor Clientes</h1>
       <button on-click="obtenerClientes">Obtener Clientes</button>
       <table>
         <tbody>
          <template is="dom-repeat" items="{{clientes}}">
             <tr>
               <td>
                 [[item.idcliente]]
               </td>
               <td>
                 [[item.nombre]]
               </td>
               <td>
                 [[item.apellido]]
               </td>
             </tr>
           </template>
         </tbody>
       </table>
     </div>
   </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() {return 'gestor-clientes';}
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true   /** manejador de eventos  */
          }
        };
      }
      obtenerClientes (){
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET","http://localhost:3002/movimientos", false);
        //request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes=JSON.parse(request.responseText);
        console.log (this.clientes);
      }
    }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
