<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Hello [[prop1]]!</h2>
   <h3>Mi valor es [[prop2]]</h3>

   <div class="container">
     <div class="row">
       <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/265/265733.svg" >
       <button class="col-lg-4 col-xs-12 btn btn-danger" name="button" on-click="incrementar">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
       <table class="table table-striped col-lg-4 col-xs-12">
         <thead>
           <th>ID</th>
           <th>Nombre</th>
           <th>Apellido</th>
         </thead>
         <tbody>
           <tr>
             <td>[[prop2]]</td>
             <td>[[prop1]]</td>
             <td>Fuertes</td>
           </tr>
           <tr>
             <td>2</td>
             <td>Selena</td>
             <td>Mora</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class MiVisor extends Polymer.Element {
     static get is() { return 'mi-visor'; }
     static get properties() {
       return {
         prop1: {
           type: String,
           value:''
         },
         prop2: {
           type: Number,
           value: 998
         },
         prop3:{
           type: String,
           value: 'Indique su login'
         }
       };
     }
     incrementar (){
       this.prop2=this.prop2+1;
       console.log(this.prop1);
       console.log(this.prop2);
     }
   }

   window.customElements.define(MiVisor.is, MiVisor);
 </script>
</dom-module>
